@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: poppins;
  margin: auto;
  background-color: #fbfcfd;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: center;
  height: 3.9rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  background-color: #212731;
}
.nav-bar .search {
  justify-self: center;
  border: none;
  padding: 0.6rem 0.5rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  width: 15rem;
  transition: all 0.3s;
  color: black;
  background-color: rgb(233, 233, 233);
}
.nav-bar .search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.nav-bar .category {
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  color: white;
  background-color: #212731;
  border-radius: 0.3rem;
  cursor: pointer;
}
.nav-bar .category:last-child {
  margin-right: 0;
}

.main {
  padding: 1.9rem 16rem 0.3rem 16rem;
}
.main .heading {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  color: #2c384a;
}
.main .secondary-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #e1e4e6;
  border-bottom: 2px solid #e1e4e6;
  height: 2.5rem;
  font-size: 0.9rem;
}
.main .secondary-tab .check-icon {
  height: 17px;
  cursor: pointer;
  margin-right: 0.5rem;
}
.main .secondary-tab .text-sec-nav {
  color: #4b5665;
  margin-right: 1rem;
}
.main .secondary-tab .drop-down {
  margin-left: auto;
  border: none;
  cursor: pointer;
  color: #4b5665;
  font-size: 0.9rem;
}
.main .tags {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0.2rem;
  margin: 9px 0;
  height: 30px;
}
.main .tags .tags-div {
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-right: 1.5rem;
  transition: all 0.2s;
}
.main .tags .tags-div:hover {
  background-color: #e4f2ff;
  transform: translateY(-2px);
}
.main .tags .tags-div .tags-div-p {
  margin: 4.5px;
  font-weight: 400;
  font-size: small;
  color: #4b5665;
  cursor: pointer;
}
.main .route-path {
  color: #727d87;
  font-size: 14px;
}
.main .route-path strong {
  margin: 0 0.6rem;
}
.main .product-card {
  display: flex;
  margin: 50px 0;
  background-color: white;
  padding: 25px;
}
.main .product-card .rating-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.main .product-card .rating-card .star-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f9ff;
  border-radius: 10px;
  color: #074786;
}
.main .product-card .rating-card .btn-view {
  border: none;
  cursor: pointer;
  background-color: #1b88f4;
  width: 200px;
  height: 45px;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-size: medium;
}/*# sourceMappingURL=style.css.map */